method: scratch  # options: scratch | SFT

hydra:
  run:
    dir: .
  sweep:
    dir: .
    subdir: .
  job_logging:
    root:
      level: INFO

wandb:
  entity: "kaleybrauer-harvard-university"
  project: llmtraining
  group: "addition-k3"
  log: true

debug: false
save_dir: "exp/${model_pars.hf_model_id}/"

# Experiment parameters
seed: 1
resume: false

model_pars:
  model_dir: ""
  hf_model_id: "gpt2"
  hf_tokenizer_id: "gpt2"
  num_hidden_layers: 4
  hidden_size: 128
  num_attention_heads: 4
  intermediate_size: 512

data:
  k: 3
  n_train: 200000
  n_val: 5000
  n_test: 5000

# FT parameters
finetuning_pars:
  save_total_limit: 10
  num_train_epochs: 1
  per_device_train_batch_size: 64 # 32 if too little memory
  gradient_accumulation_steps: 1
  reference_learning_rate: 3e-4
  lr_scheduler_type: "linear"
  save_n_per_epoch: 1
  log_n_per_epoch: 10
  eval_n_per_epoch: 1
  optimiser: "adamw_torch_fused"
  bf16: false
  fp16: true
  deepspeed: ""
  fsdp: ""
  packing: false
  ddp_find_unused_parameters: false
  ddp_static_graph: true
  label_smoothing_factor: 0.0
  warmup_ratio: 0.0
  weight_decay: 0.0
  max_grad_norm: 1.0
  dataloader_num_workers: 1
  dataloader_prefetch_factor: 4
  dataloader_pin_memory: true
  dataloader_persistent_workers: true
  gradient_checkpointing: false

eval_pars:
  num_workers: 1
  batch_size: 32
  max_tokens: 1024
  tensor_parallel_size: 1
